<div class="coming-soon-badge-card {{ classes }}">
    {%- assign variant = product.selected_or_first_available_variant -%}
    <div class="overlay-badge">
        <span>COMING<br> SOON</span>
    </div>
</div>
